/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.calculator{
  border: 2px solid black;
  width: 200px;
  border-radius: 5px;
}

.calculatorDisplay {
  margin: 10px;
  width: 175px;
  font-size: 25px;
}
.calculatorButtons{
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
}

.button {
  width: 45px;
  height: 45px;
  margin: 3px;
}
